In [1]:
#! wget https://github.com/CS639-Data-Management-for-Data-Science/f24/raw/main/p2/Chinook.zip

In [2]:
#!unzip Chinook.zip -y#un note these when turning in

In [3]:
from sqlalchemy import create_engine, text
import pandas as pd
import os
import gc
import pickle

In [4]:
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs639")
conn = engine.connect()

In [5]:
csv_files = [f for f in os.listdir() if f.endswith('.csv')]
csv_files

['Genre.csv',
 'InvoiceLine.csv',
 'Album.csv',
 'Track.csv',
 'Playlist.csv',
 'MediaType.csv',
 'Employee.csv',
 'Customer.csv',
 'PlaylistTrack.csv',
 'Invoice.csv',
 'Artist.csv']

In [6]:
for csv_file in csv_files: 
    table_name = os.path.splitext(csv_file)[0] #the os.path.splitext allows us to keep only the file name, not .csv
    df = pd.read_csv(csv_file)
    df.to_sql(table_name, con=engine, if_exists = 'replace', index=False)
    print(f'Loaded {csv_file} into table {table_name}')

Loaded Genre.csv into table Genre
Loaded InvoiceLine.csv into table InvoiceLine
Loaded Album.csv into table Album
Loaded Track.csv into table Track
Loaded Playlist.csv into table Playlist
Loaded MediaType.csv into table MediaType
Loaded Employee.csv into table Employee
Loaded Customer.csv into table Customer
Loaded PlaylistTrack.csv into table PlaylistTrack
Loaded Invoice.csv into table Invoice
Loaded Artist.csv into table Artist

### Retrieve all information about the artist "Queen" from the Artist table.

In [7]:
#q1
q1_df = pd.read_sql("""
SELECT 
* FROM Artist 
WHERE Name = 'Queen' 
""", conn)

q1_df.to_pickle("q1.pkl")

#print(q1_df)

### What are all the albums released by the artist "Queen"?

In [8]:
#q2
q2_df = pd.read_sql("""
SELECT Album.Title, Album.AlbumId, Album.ArtistId
FROM Album
JOIN Artist on Album.ArtistId = Artist.ArtistId
where Artist.Name = 'Queen'
""", conn)

q2_df.to_pickle('q2.pkl')
print(q2_df)

               Title  AlbumId  ArtistId
0   Greatest Hits II       36        51
1    Greatest Hits I      185        51
2  News Of The World      186        51

### What are all the tracks released by the artist "Queens"?

In [9]:
#q3

q3_df = pd.read_sql("""
SELECT Track.TrackId, Track.Name, Track.AlbumId, Track.MediaTypeId, Track.GenreId, Track.Composer, Track.Milliseconds, Track.Bytes, Track.UnitPrice
FROM Track
JOIN Album on Track.AlbumId = Album.AlbumId
JOIN Artist on Album.ArtistId = Artist.ArtistId
where Artist.Name = 'Queen'
""", conn)

q3_df.to_pickle('q3.pkl')
#print(q3_df)

### How many tracks released by "Queen" were composed or co-composed by "Queen"?

In [10]:
#q4

q4_df = pd.read_sql("""
SELECT COUNT(*) As TotalQueenTracks
FROM Track 
JOIN Album on Track.AlbumId = Album.AlbumId
JOIN Artist on Album.ArtistId = Artist.ArtistId
where Artist.Name = 'Queen' 
AND Track.Composer LIKE '%Queen%'
""", conn)

q4_df.to_pickle('q4.pkl')
#print(q4_df)

### Who are all the composers of tracks by the artist "Queen"?

In [11]:
#q5
q5_df = pd.read_sql("""
SELECT DISTINCT Track.Composer
FROM Track
JOIN Album on Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
""", conn)
q5_df.to_pickle('q5.pkl')
#print(q5_df)

### Which are the top 5 longest tracks by the artist "Queen"?

In [12]:
#q6
q5_df = pd.read_sql("""
SELECT Track.Name, Track.TrackId, Track.AlbumId, Track.MediaTypeId, Track.GenreId, Track.Composer, Track.Milliseconds, Track.Bytes, Track.UnitPrice
FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
ORDER BY Track.Milliseconds DESC
LIMIT 5
""", conn)

q5_df.to_pickle('q6.pkl')
#print(q5_df)

### What are all the tracks by the artist "Queen" that are sized smaller than 6MB?

In [13]:
#q7
q7_df = pd.read_sql("""
SELECT Track.Name, Track.TrackId, Track.AlbumId, Track.MediaTypeId, Track.GenreId, Track.Composer, Track.Milliseconds, Track.UnitPrice, Track.Bytes
FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
AND Track.Bytes < (6*1000000)
""", conn)

q7_df.to_pickle('q7.pkl')
#print(q7_df)

### Generate human-readable details about all tracks released by "Queen".

In [14]:
#q8
q8_df = pd.read_sql("""
SELECT Track.Name, ROUND(Track.Milliseconds / 1000 / 60, 4) AS DurationMinutes,
ROUND(Track.Bytes / 1000000, 4) AS FileSize
FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
""", conn)

q8_df.to_pickle('q8.pkl')
#print(q8_df)

### Who are all the customers from USA?

In [15]:
#q9
q9_df = pd.read_sql("""
SELECT CustomerId, FirstName, LastName, State
FROM Customer
WHERE Country = 'USA'
ORDER BY State ASC
""", conn)

q9_df.to_pickle('q9.pkl')
#print(q9_df)

### Which invoices correspond to transactions costing greater than $20?

In [16]:
#q10
q10_df = pd.read_sql("""
SELECT InvoiceId, Invoice.CustomerId, Invoice.InvoiceDate, Invoice.BillingAddress, Invoice.BillingCity, Invoice.BillingState, Invoice.BillingCountry, Invoice.BillingPostalCode, Invoice.Total
FROM Invoice
WHERE Total >20
""", conn)

q10_df.to_pickle('q10.pkl')
#print(q10_df)

### Which invoices were issued in the year 2021?

In [17]:
#q11
q11_df = pd.read_sql("""
SELECT InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total
FROM Invoice
WHERE YEAR(InvoiceDate) = 2021
""", conn)

q11_df.to_pickle('q11.pkl')
#print(q11_df)

### What was the total expenditure of "Eduardo Martins"?

In [18]:
#q12
q12_df = pd.read_sql("""
SELECT SUM(Invoice.Total) AS TotalSpent  
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
WHERE Customer.FirstName = 'Eduardo'
AND Customer.LastName = 'Martins'
""", conn)

q12_df.to_pickle('q12.pkl')
#print(q12_df)

### Which customers from the USA do not have any specified company information?

In [19]:
#q13
q13_df = pd.read_sql("""
SELECT CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId 
FROM Customer
WHERE Country = 'USA' AND Company IS NULL
""", conn)

q13_df.to_pickle('q13.pkl')
#print(q13_df)

### Who are all the Canadian employees?

In [20]:
#q14
q14_df = pd.read_sql("""
SELECT *
FROM Employee
WHERE Country = 'Canada'
""", conn)

q14_df.to_pickle('q14.pkl')
#print(q14_df)

###  Retrieve the names of all customers along with their corresponding invoice totals.

In [21]:
#q15

q15_df = pd.read_sql("""
SELECT Customer.FirstName, Customer.LastName, Invoice.Total AS Total
FROM Customer
RIGHT JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
ORDER BY Customer.LastName ASC, Invoice.Total 
""", conn)


q15_df.to_pickle('q15.pkl')
print(q15_df)

    FirstName    LastName  Total
0     Roberto     Almeida   0.99
1     Roberto     Almeida   1.98
2     Roberto     Almeida   1.98
3     Roberto     Almeida   3.96
4     Roberto     Almeida   5.94
..        ...         ...    ...
407      Fynn  Zimmermann   1.98
408      Fynn  Zimmermann   3.96
409      Fynn  Zimmermann   5.94
410      Fynn  Zimmermann  13.86
411      Fynn  Zimmermann  14.91

[412 rows x 3 columns]

In [22]:
#q15_df = pd.read_sql("""
#SELECT Customer.FirstName, SUM(Invoice.Total) AS Total
#FROM Customer
#JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
#GROUP BY Customer.FirstName, Customer.LastName
#ORDER BY Customer.LastName ASC, Total ASC
#""", conn)

### Which customers purchased the tracks by "Queen"?

In [23]:
#q16

q16_df = pd.read_sql("""
SELECT DISTINCT Customer.CustomerId, Customer.FirstName, Customer.LastName 
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
ORDER BY Customer.CustomerId
""", conn)

q16_df.to_pickle('q16.pkl')
#print(q16_df)

### Retrieve Invoice Details for the tracks by "Queen".

In [24]:
#q17
q17_df = pd.read_sql("""
SELECT DISTINCT Invoice.InvoiceId, Invoice.InvoiceDate, Invoice.BillingCountry, Invoice.Total
FROM Invoice
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
ORDER BY Invoice.InvoiceId
""", conn)

q17_df.to_pickle('q17.pkl')
#print(q17_df)

### Retrieve tracks details by "Queen" alng with corresponding album titles and media types.

In [25]:
#q18
q18_df = pd.read_sql("""
SELECT Track.TrackId, Track.Name AS TrackName, Album.Title AS AlbumTitle, MediaType.Name AS MediaTypeName
FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
JOIN MediaType ON Track.MediaTypeId = MediaType.MediaTypeId
WHERE Artist.Name = 'Queen'
ORDER BY Track.TrackId;
""", conn)

q18_df.to_pickle('q18.pkl')
#print(q18_df)

### Find genres of tracks by "Queen".

In [26]:
#q19
q19_df = pd.read_sql("""
SELECT Track.TrackId, Track.Name AS TrackName, Genre.Name AS GenreName
FROM Track
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
JOIN Genre ON Track.GenreId = Genre.GenreId
WHERE Artist.Name = 'Queen'
ORDER BY Track.TrackId;
""", conn)

q19_df.to_pickle('q19.pkl')
#print(q19_df)

### Retrieve invoice details for customers from the USA who purchased tracks by "Queen".

In [27]:
#q20
q20_df = pd.read_sql("""
SELECT DISTINCT Invoice.InvoiceId, Invoice.InvoiceDate, Invoice.BillingCity, Invoice.BillingState, Invoice.CustomerId
FROM Invoice
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
JOIN Customer ON Invoice.CustomerId = Customer.CustomerId
WHERE Artist.Name = 'Queen' AND Invoice.BillingCountry = 'USA'
ORDER BY Invoice.InvoiceId
""", conn)

q20_df.to_pickle('q20.pkl')
#print(q20_df)

### Find all playlists that contain tracks by "Queen".

In [28]:
#q21
q21_df = pd.read_sql("""
SELECT DISTINCT Playlist.Name AS PlaylistName
FROM Playlist
JOIN PlaylistTrack ON Playlist.PlaylistId = PlaylistTrack.PlaylistId
JOIN Track ON PlaylistTrack.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
ORDER BY Playlist.Name DESC
""", conn)

q21_df.to_pickle('q21.pkl')
#print(q21_df)

### List all the employees (sales agents) who supported customers that purchased tracks by "Queen."

In [29]:
#q22
q22_df = pd.read_sql("""
SELECT DISTINCT Employee.EmployeeId, Employee.FirstName, Employee.LastName
FROM Employee
JOIN Customer ON Employee.EmployeeId = Customer.SupportRepId
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
WHERE Artist.Name = 'Queen'
ORDER BY Employee.EmployeeId
""", conn)

q22_df.to_pickle('q22.pkl')
print(q22_df)

   EmployeeId FirstName LastName
0           3      Jane  Peacock
1           4  Margaret     Park
2           5     Steve  Johnson

### Retrieve a list of all albums along with the names of their artists, including albums that don't have any artist information.

In [30]:
#q23

conn.execute(text("""
ALTER TABLE Album MODIFY Title VARCHAR(255) COLLATE utf8mb4_general_ci;
"""))

conn.execute(text("""
SET collation_connection = 'utf8mb4_general_ci';
"""))

q23_df = pd.read_sql("""
SELECT Album.Title AS AlbumTitle, COALESCE(Artist.Name, 'No Artist') AS ArtistName
FROM Album
LEFT JOIN Artist ON Album.ArtistId = Artist.ArtistId
ORDER BY Album.Title ASC, Artist.Name ASC
""", conn)

q23_df.to_pickle('q22.pkl')
print(q23_df)

                                            AlbumTitle  \
0                               ...And Justice For All
1    20th Century Masters - The Millennium Collecti...
2                        A Copland Celebration, Vol. I
3                           A Matter of Life and Death
4                                      A Real Dead One
..                                                 ...
342                                     Warner 25 Anos
343                       Weill: The Seven Deadly Sins
344                                             Worlds
345                                            Zooropa
346                        [1997] Black Light Syndrome

                                       ArtistName
0                                       Metallica
1                                       Scorpions
2       Aaron Copland & London Symphony Orchestra
3                                     Iron Maiden
4                                     Iron Maiden
..                                            ...
342                          Antônio Carlos Jobim
343  Kent Nagano and Orchestre de l'Opéra de Lyon
344                                Aaron Goldberg
345                                            U2
346      Terry Bozzio, Tony Levin & Steve Stevens

[347 rows x 2 columns]

### Retrieve a list of all artists and their corresponding albums, including artists who have not released any albums.

In [31]:
#q24
q24_df = pd.read_sql("""
SELECT COALESCE(Album.Title, 'No Album') AS AlbumTitle, 
Artist.Name AS ArtistName
FROM Artist
RIGHT JOIN Album ON Artist.ArtistId = Album.ArtistId
ORDER BY Album.Title ASC, Artist.Name ASC;
""", conn)

q24_df.to_pickle('q24.pkl')
#print(q24_df)

###  How many tracks are there in each genre?

In [32]:
#q25
q25_df = pd.read_sql("""
SELECT Genre.GenreId, COUNT(Track.TrackId) AS TrackCount
FROM Genre
LEFT JOIN Track ON Genre.GenreId = Track.GenreId
GROUP BY Genre.GenreId
ORDER BY TrackCount DESC, Genre.GenreId ASC;
""", conn)

q25_df.to_pickle('q25.pkl')
#print(q25_df)

###  What is the total duration (in hours) of tracks for top 5 longest albums?

In [33]:
#q26
q26_df = pd.read_sql("""
SELECT Album.AlbumId, Album.Title AS AlbumTitle, 
SUM(Track.Milliseconds) / 1000 / 60 / 60 AS TotalDurationHours
FROM Album
JOIN Track ON Album.AlbumId = Track.AlbumId
GROUP BY Album.AlbumId, Album.Title
ORDER BY TotalDurationHours DESC
LIMIT 5;
""", conn)

q26_df.to_pickle('q26.pkl')
#print(q26_df)

### Retrieve all albums that contain tracks from more than one genre.

In [34]:
#q27
q27_df = pd.read_sql("""
SELECT Album.Title AS AlbumTitle, COUNT(DISTINCT Track.GenreId) AS GenreCount
FROM Album
JOIN Track ON Album.AlbumId = Track.AlbumId
GROUP BY Album.AlbumId, Album.Title
HAVING COUNT(DISTINCT Track.GenreId) > 1
ORDER BY GenreCount DESC, Album.Title ASC;
""", conn)
q27_df.to_pickle('q27.pkl')
#print(q27_df)

### Calculate the total revenue for all artists.

In [35]:
#q28
q28_df = pd.read_sql("""
SELECT Artist.Name AS ArtistName, 
SUM(InvoiceLine.UnitPrice * InvoiceLine.Quantity) AS TotalRevenue
FROM InvoiceLine
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
GROUP BY Artist.ArtistId, Artist.Name
ORDER BY TotalRevenue DESC, Artist.Name ASC;
""", conn)
q28_df.to_pickle('q28.pkl')
#print(q28_df)

### Which genres have greater than 20 minute average track duration?

In [36]:
#q29
q29_df = pd.read_sql("""
SELECT Genre.Name AS GenreName, 
AVG(Track.Milliseconds) / 1000 / 60 AS AverageDurationMinutes
FROM Track
JOIN Genre ON Track.GenreId = Genre.GenreId
GROUP BY Genre.GenreId, Genre.Name
HAVING AVG(Track.Milliseconds) / 1000 / 60 > 20
ORDER BY AverageDurationMinutes DESC
""", conn)
q29_df.to_pickle('q29.pkl')
#print(q29_df)

### What is the total expenditure incurred by customers who purchased tracks by "Queen"?

In [37]:
#q30
q30_df = pd.read_sql("""
SELECT Customer.CustomerId, 
Customer.FirstName, 
Customer.LastName, 
SUM(InvoiceLine.UnitPrice * InvoiceLine.Quantity) AS TotalExpenditure,
RANK() OVER (ORDER BY SUM(InvoiceLine.UnitPrice * InvoiceLine.Quantity) DESC) AS ExpenditureRank
FROM InvoiceLine
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId
JOIN Customer ON Invoice.CustomerId = Customer.CustomerId
WHERE Artist.Name = 'Queen'
GROUP BY Customer.CustomerId, Customer.FirstName, Customer.LastName
ORDER BY TotalExpenditure DESC, Customer.CustomerId ASC;
""", conn)
q30_df.to_pickle('q30.pkl')
#print(q30_df)

### Find each track's duration and rank all tracks by their duration.

In [38]:
#q31
q31_df = pd.read_sql("""
SELECT Track.TrackId, 
Track.Name AS TrackName, 
(Track.Milliseconds / 1000 / 60) AS DurationMinutes, 
RANK() OVER (ORDER BY Track.Milliseconds DESC) AS DurationRank
FROM Track
ORDER BY DurationRank ASC, DurationMinutes DESC, Track.TrackId ASC
""", conn)
q31_df.to_pickle('q31.pkl')
#print(q31_df)

###  Rank customers who purchased tracks by "Queen" based on their total expenditure.

In [39]:
#q32
q32_df = pd.read_sql("""
SELECT Customer.CustomerId, 
Customer.FirstName, 
Customer.LastName, 
SUM(InvoiceLine.UnitPrice * InvoiceLine.Quantity) AS TotalExpenditure,
RANK() OVER (ORDER BY SUM(InvoiceLine.UnitPrice * InvoiceLine.Quantity) DESC) AS ExpenditureRank
FROM InvoiceLine
JOIN Track ON InvoiceLine.TrackId = Track.TrackId
JOIN Album ON Track.AlbumId = Album.AlbumId
JOIN Artist ON Album.ArtistId = Artist.ArtistId
JOIN Invoice ON InvoiceLine.InvoiceId = Invoice.InvoiceId
JOIN Customer ON Invoice.CustomerId = Customer.CustomerId
WHERE Artist.Name = 'Queen'
GROUP BY Customer.CustomerId, Customer.FirstName, Customer.LastName
ORDER BY TotalExpenditure DESC, Customer.CustomerId ASC;
""", conn)
q32_df.to_pickle('q32.pkl')
#print(q32_df)

### Calculate the total number of invoices for each customer and assign a sequential rank to each customer based on their total invoices.

In [40]:
#q33
q33_df = pd.read_sql("""
SELECT Customer.CustomerId, 
Customer.FirstName, 
Customer.LastName, 
COUNT(Invoice.InvoiceId) AS InvoicesCount,
RANK() OVER (ORDER BY COUNT(Invoice.InvoiceId) DESC, Customer.LastName ASC) AS InvoiceRank
FROM Customer
JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId, Customer.FirstName, Customer.LastName
ORDER BY InvoicesCount DESC, Customer.LastName ASC
""", conn)
q33_df.to_pickle('q33.pkl')
#print(q33_df)

### Find the top 3 invoices per country.

In [41]:
#q34
q34_df = pd.read_sql("""
SELECT *
FROM (
SELECT Invoice.InvoiceId, 
Invoice.BillingCountry, 
Invoice.Total, 
RANK() OVER (PARTITION BY Invoice.BillingCountry ORDER BY Invoice.Total DESC) AS InvoiceRank
FROM Invoice
) AS RankedInvoices
WHERE InvoiceRank <= 3
ORDER BY BillingCountry ASC, InvoiceRank ASC;
""", conn)
q34_df.to_pickle('q34.pkl')
#print(q34_df)

###  Calculate the moving average of monthly sales.

In [42]:
#q35
q35_df = pd.read_sql("""
WITH MonthlySales AS (
SELECT 
DATE_FORMAT(InvoiceDate, '%Y-%m') AS Month, 
SUM(Total) AS MonthlySales
FROM Invoice
GROUP BY DATE_FORMAT(InvoiceDate, '%Y-%m')
ORDER BY Month
)
SELECT 
Month,
MonthlySales,
AVG(MonthlySales) OVER (
ORDER BY Month 
ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
) AS MovingAverageSales
FROM MonthlySales
ORDER BY Month ASC;
""", conn)
q35_df.to_pickle('q35.pkl')
#print(q35_df)